<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/css/home-page.css">
</head>
</head>
<body>
    <h1>Hello!</h1>
    <p>Welcome to <span th:text="${appName}">Our App</span></p>
    <form action="/creapartita" method="get">
        <input type="submit" value="Crea Partita" style="background-color:rgb(185, 92, 92);">
    </form><br>
    <form action="/cercapartita">
        <input type="text" id="idpartita" name="idpartita"><br>
        <input type="submit" value="Unisciti alla partita" style="background-color: rgb(92, 185, 159)">
    </form>
</body>
</html>